<!-- login.html -->
<main class="container-fluid p-0 m-0">
    <nav class="card">
        <div class="" style="
        filter: brightness(0.3);
        background-image: url(img/full01.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%;
        height: 620px;
      "></div>
        <div class="card-img-overlay d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row w-100">
                    <div class="col-12">
                        <div class="text-center">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="card-body text-center text-white">
                                        <h4 class="card-title text-uppercase fw-bold">
                                            Du lịch giải sầu - quên hết âu lo
                                        </h4>
                                        <div class="card-text fw-bold">
                                            <p>
                                                Nhanh tay tìm kiếm Tour và đặt Tour tại PT Travel để
                                                nhận được nhiều ưu đãi!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-auto justify-content-center" style="max-width: 680px">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div
                                class="col-lg-3 col-md-3 col-sm-5 col-5 bg-white border border-1 rounded-start p-0 m-0">
                                <select class="form-select border-0" id="sel1" name="sellist1">
                                    <option value="">Chọn điểm đến</option>
                                    <option value="ha-noi">Từ Hà Nội</option>
                                    <option value="ho-chi-minh">Từ Hồ Chí Minh</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-7 col-7 border border-0 p-0">
                                <input type="search" class="form-control rounded-0" id="search"
                                    placeholder="Tìm kiếm tour..." list="search-tour" autocomplete="on" />
                                <datalist id="search-tour">
                                    <option value="Tour Đà Nẵng Hội An 3 ngày 2 đêm từ Hà Nội"></option>
                                    <option value="Tour Đà Nẵng Hội An 4 ngày 3 đêm từ Hà Nội"></option>
                                    <option value="Tour Hội An 3 ngày 2 đêm từ Hà Nội"></option>
                                    <option value="Tour Hội An 2 ngày 1 đêm"></option>
                                    <option value="Tour du lịch Mai Châu 2 ngày 1 đêm từ Hà Nội"></option>
                                </datalist>
                            </div>
                            <div
                                class="col-lg-3 col-md-3 col-sm-12 col-12 bg-primary text-center border-0 rounded-end p-0 m-0">
                                <button type="submit" class="btn text-white">
                                    <i class="fa-solid fa-magnifying-glass"></i> TÌM TOUR NGAY
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="container-fluid text-bg-primary">
        <div class="container py-2">
            <div class="row">
                <div class="col-lg-12 col">
                    <h3>
                        <p class="text-uppercase m-0">Đăng ký tài khoản</p>
                    </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none text-warning fw-bold text-uppercase" href="#">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none text-white fw-bold text-uppercase" href="#">Đăng ký tài
                                khoản</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="container py-4">
        <div class="row justify-content-center">
            <form class="form-group w-50 was-validated" name="registrationForm" ng-submit="submitRegistration()"
                novalidate>
                <h3>Đăng ký</h3>
                <div class="d-flex">
                    <strong class="text-danger me-1">(*)</strong>
                    <p>Đây là các trường bắt buộc</p>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="username">Họ và Tên <strong class="text-danger">*</strong></label>
                    <input type="text" id="username" name="name" class="form-control" ng-model="user.name"
                        autocomplete="username" ng-minlength="3" required />
                    <div ng-show="registrationForm.username.$error.required && registrationForm.username.$dirty"
                        class="invalid-feedback">
                        Vui lòng nhập họ tên phải ít nhất có 3 ký tự.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email <strong class="text-danger">*</strong></label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="user.email"
                        autocomplete="username" required ng-pattern="/^[a-zA-Z0-9._%+-]+@gmail\.com$/" />
                    <div ng-show="registrationForm.email.$error.required && registrationForm.email.$dirty"
                        class="invalid-feedback">
                        Vui lòng nhập địa chỉ email.
                    </div>
                    <div ng-show="registrationForm.email.$error.pattern && registrationForm.email.$dirty"
                        class="invalid-feedback">
                        Địa chỉ email phải là định dạng @gmail.com.
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="phone">Số điện thoại <strong class="text-danger">*</strong></label>
                    <input type="text" id="phone" name="phone" class="form-control" ng-model="user.phone" required
                        ng-pattern="/^\d{9,}$/" />
                    <div ng-show="registrationForm.phone.$error.required && registrationForm.phone.$dirty"
                        class="invalid-feedback">
                        Vui lòng nhập số điện thoại.
                    </div>
                    <div ng-show="registrationForm.phone.$error.pattern && registrationForm.phone.$dirty"
                        class="invalid-feedback">
                        Số điện thoại cần ít nhất 9 chữ số.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Mật khẩu <strong class="text-danger">*</strong></label>
                    <input type="password" id="password" name="password" class="form-control" ng-model="user.password"
                        autocomplete="current-password" required
                        ng-pattern="/^(?=.*[a-zA-Z]{4})(?=.*[0-9]{2}).{6,}$/" />
                    <div ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty"
                        class="invalid-feedback">
                        Vui lòng nhập mật khẩu.
                    </div>
                    <div ng-show="registrationForm.password.$error.pattern && registrationForm.password.$dirty"
                        class="invalid-feedback">
                        Mật khẩu cần có ít nhất 4 chữ và 2 số, tổng cộng ít nhất 6 ký tự.
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Nhập lại mật khẩu <strong
                            class="text-danger">*</strong></label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                        autocomplete="new-password" ng-model="user.confirmPassword" required />
                    <div ng-show="registrationForm.confirmPassword.$error.required && registrationForm.confirmPassword.$dirty"
                        class="invalid-feedback">
                        Vui lòng nhập lại mật khẩu.
                    </div>
                    <div ng-show="user.confirmPassword !== user.password && registrationForm.confirmPassword.$dirty"
                        class="invalid-feedback">
                        Mật khẩu nhập lại không khớp.
                    </div>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="agree" name="agree" ng-model="user.agree"
                        required />
                    <label class="form-check-label text-dark" for="agree">
                        Đồng ý với các <a href="#!" class="text-decoration-none">điều khoản</a> <strong
                            class="text-danger">*</strong>
                    </label>
                    <div ng-show="registrationForm.agree.$error.required && registrationForm.agree.$dirty"
                        class="invalid-feedback">
                        Bạn cần đồng ý với các điều khoản.
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-warning text-white btn-block mb-4"
                    ng-disabled="registrationForm.$invalid">
                    Đăng ký
                </button>

                <div class="mb-4">
                    <a href="#!" class="text-decoration-none">Quên mật khẩu?</a>
                </div>

                <div class="text-center">
                    <p>Bạn đã là thành viên <a href="#!login" class="text-decoration-none">Đăng nhập</a></p>
                </div>
            </form>
        </div>
    </section>
</main>